.container {
  padding: 10px;
}

.notes {
  color: blue;
}
#testi{
  background-color: aquamarine;
  font-size: xx-large;
  font-family: 'Trebuchet MS';
  text-shadow: 2px 2px 0 #000000;
}
table {
  font-family: 'Trebuchet MS';
  font-size: large;
  color: #8C2633;
  table-layout: fixed;
}

ul{
  font-family: Verdana;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #8C2633;
  border: none;
  border-radius: 6px;
}

p {
    color: #8C2633;
}
a {
    font-family: Impact;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    }
  
  a:hover {background-color: #3e8e41}
  
  a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  form {
    margin: 30px;
  }